*{
  margin: 0;
  padding: 0;
}
body{
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
}


.bg-color{
  background-color: #1174d7;
}

.headerwrapper .top-strip{
  padding: 8px 0px;
}
.headerwrapper .top-strip p{
  color: #fff;
}